*{
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}
body{
	/*background: #000;*/
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../img/banner.jpg");
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: #fff;
}
.header p{
	font-size: 25px;
	padding: 25px;
	margin-left: 50px;
	font-family: Roboto Mono;
	color: #fff;
	margin-top: 1px;
}
.header ul{
	list-style-type: none;
	color: #fff;
	font-family: sans-serif;
	margin-left:42%;
	/*margin-top: 51px;*/ 
	font-size: 22px;
	position: relative;
	bottom: 46px;
}
.header li{
	display: inline;
	padding: 10px;
	color: #fff;
	letter-spacing: 3px;
	margin-left:5px;
}
a{
	text-decoration: none;
	color: #fff;
}
.xbody h1{
	text-align: center;
	margin-top: 195px;
	margin-right: 67%;
}
.xbody p{
	margin-left: 4%;
	margin-top: 3%;
	font-size: 32px;

}
span{
	color: red;
}
.footer_input{
	margin-left: 63%;
	margin-top: -18%;
	font-size: 81px;
}

